
body {
  background-image: url("../images/sm.jpg")no-repeat center;
  background-size:cover;
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  
}


ul {
 
  display: flex;
  align-content: center;
  justify-content: center;
}

ul li {
  list-style: none;
}

ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(240, 128, 128) ;
  font-size: 0.999em;
  text-decoration: none;
  padding: 1em;
  white-space: nowrap;
  letter-spacing: 1px;
}

ul li a:hover {
  border-bottom: 3px solid rgb(240, 128, 128) ;
}

 
.header {
  padding: 20px;
  height: 100vh;
  background: url("../images/sm.jpg") no-repeat  center;
  background-size: cover;
  position: relative;
}
.header h1 {
  margin: 0;
  font-weight: 900;
  font-size: 8rem;
  font-family: Sporty;
  text-align: center;
  color: rgb(110, 3, 62);
  margin-bottom: 20px;
}
.header .content {
  position: relative;
  top: 50%;
  text-align: center;
}

p {
  font-weight: 400%;
  font-family: Better Grade;
  color: rgb(110, 3, 62);
  font-size: 375%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}